@page "/"
@using AdminApp.Components.Layout
@layout MainLayout

<h2>Manager Dashboard</h2>

<p>Welcome! Use the links below to manage currencies and exchange rates:</p>

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/currencies">
        Manage Currencies
    </a>
    <a class="list-group-item list-group-item-action" href="/exchange-rates">
        Manage Exchange Rates
    </a>
</div>
