@page "/"

@layout GuestLayout
@rendermode InteractiveServer

@using Client.Components.Layout
@using Client.Components.Pages
@using Microsoft.AspNetCore.Components

<div class="text-center mt-5">
    <h1>Welcome to <span class="text-primary">Bank Blazor</span></h1>

    @if (!showLogin)
    {
        <div class="mt-4">
            <button class="btn btn-primary btn-lg" @onclick="ShowLogin">Sign In</button>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center mt-4">
            <LoginForm OnCancel="CloseLogin" />
        </div>
    }
</div>

@code {
    private bool showLogin = false;

    private void ShowLogin() => showLogin = true;
    private void CloseLogin() => showLogin = false;
}
